<%- include('../partails/header') -%>
    <%- include('../partails/navbar') -%>

        <%- include('../partails/flashMessageLogin') -%>

            <div class="container mt-5">
                <h1 class="text-center mb-4">Reset Password</h1>

                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="card p-4 shadow-sm">
                            <form action="/users/reset-password/<%= token %>" method="post">
                                <div class="form-group">
                                    <label for="password" class="font-weight-bold">New Password</label>
                                    <input type="password" id="password" name="password" class="form-control"
                                        placeholder="Enter new password" required />
                                </div>

                                <button type="submit" class="btn btn-primary btn-block mt-4">Reset Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('../partails/footer') -%>